.media__content {
  border: 1px solid red;
  height: 0;
  width: 1150px;
  margin: 20px;
  overflow: hidden;
  transition: .3s ease-in;
  transition-property: height;
}

.media__content:hover {
  overflow-y: auto;
}

.media__content::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}

.media__content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

.media__content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 500px) {
  .media__content {
    padding: 0 15px 0 20px;
  }
}
