@keyframes banner {
  from{
      top: 165px;
  }
  to {
      top: -34px;
  }
}

.media__banner {
  grid-area: banner;
  display: none;
  position: relative;
  left: 17px;
  top: -34px;
  animation: banner .5s ease-in;
}

.media__banner_opened {
  display: block;
}

@media screen and (max-width: 1023px) {
  .media__banner {
    top: 0;
    left: 60px;
    width: 112px;
    height: 112px;
    animation: banner .3s ease-in;
  }
}

@media screen and (max-width: 767px) {
  .media__banner {
    left: 0;
    margin: 30px auto;
    width: 240px;
    height: 240px;

  }
}
