.form__field-accept {
  margin: 40px 0 0 var(--left-indent);
}

@media screen and (max-width: 400px) {
  .form__field-accept {
    margin: 36px 0 0 var(--left-indent);
  }
}

.form__field-accept .form__input-accept {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 7px 0 0 10px;
}


.form__field-accept .form__input-accept:checked + .form__input-text:before {
  background: #000;
}

.form__field-accept .form__input-accept:focus + .form__input-text:before {
  /*если потребуется*/
}
