.media__button-open {
  height: 24px;
  width: 24px;
  background: url(../../../images/Subtract.svg) no-repeat center;
  border: 0;
  transition: opacity .2s ease-in-out;
  order: 3;
  border: 1px solid #61dafb;
  align-self: center;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
}

.media__button-open:focus{
  outline: none;
}

.media__button-open:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .media__button-open {
    order: 2
  }
}

@media screen and (max-width: 500px) {
  .media__button-open {
    height: 16px;
    width: 16px;
    background-size: contain;
  }
}

