.article {
  width: 760px;
}

@media screen and (max-width: 830px) {
  .article {
    width: 740px;
  }
}

@media screen and (max-width: 768px) {
  .article {
    width: 91vw;
  }
}

@media screen and (max-width: 740px) {
  .article {
    width: 87vw;
    margin: 0 auto;
  }
}


@media screen and (max-width: 500px) {
  .article {
    width: var(--smartphone-width-l);
    margin: 0 auto;
  }
}


@media screen and (max-width: 400px) {
  .article {
    width: var(--smartphone-width-s);
    margin: 0 auto;
  }
}
