.media__content-playlist-item {
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.media__content-playlist-item:hover {
  font-style: italic;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .media__content-playlist-item {
    font-size: 18px;
}
}

@media screen and (max-width: 767px) {
  .media__content-playlist-item {
    font-size: 14px;
}
}
