.form__submit-button {
  /* margin: 45px 0 0 var(--left-indent); */
  margin: 0;
  color: #000;
  background: #fff;
  text-align: center;
  cursor: pointer;
  width: 600px;
  height: 60px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .form__submit-button {
    width: 84vw;
  }
}

@media screen and (max-width: 500px) {
  .form__submit-button {
    width: var(--smartphone-width-l);
  }
}

@media screen and (max-width: 400px) {
  .form__submit-button {
    width: calc(var(--smartphone-width-s) - 2px);
    height: 42px;
    font-size: 12px;
    line-height: 20px;
  }
}

.form__submit-button:hover {
  opacity: 0.8;
  transition: 2s ease;
}
