.media__controls {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

@media screen and (max-width: 767px) {
  .media__controls {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
