@import url(../media/__player-content/media__player-content.css);
@import url(../media/__title-track/media__title-track.css);
@import url(../media/__player/media__player.css);
@import url(../media/__control/media__control.css);
@import url(../media/__button-track/media__button-track.css);
@import url(../media/__button-track/_opened/media__button-track_opened.css);
@import url(../media/__button-open/media__button-open.css);
@import url(../media/__content/media__content.css);
@import url(../media/__content/_opened/media__content_opened.css);
@import url(../media/__track/media__track.css);
@import url(../media/__track/_type/media__track_type_release.css);

.media {
  border: 1px solid red;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  /* для примера */
  /* height: 50px; */
  /* background-color: teal; */
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
}
