@import url(../media/__player-content/media__player-content.css);
@import url(../media/__title-track/media__title-track.css);
@import url(../media/__player/media__player.css);
@import url(../media/__control/media__control.css);
@import url(../media/__controls/media__controls.css);
@import url(../media/__button-track/media__button-track.css);
@import url(../media/__button-track/_opened/media__button-track_opened.css);
@import url(../media/__button-video/media__button-video.css);
@import url(../media/__banner/media__banner.css);

@import url(../media/__button-open/media__button-open.css);
@import url(../media/__content/media__content.css);
@import url(../media/__content/_opened/media__content_opened.css);
@import url(../media/__content-text/media__content-text.css);
@import url(../media/__content-text/_typo/media__content-text_typo.css);
@import url(../media/__content-playlist/media__content-playlist.css);
@import url(../media/__content-playlist-item/media__content-playlist-item.css);
@import url(../media/__track/media__track.css);
@import url(../media/__track/_type/media__track_type_release.css);
@import url(../media/__current-track/media__current-track.css);
@import url(../media/__current-track/_direction/media__current-track_direction_up.css);


.media {
  /*border: 1px solid red;*/
  position: absolute;
  top: 102%;
  left: 0;
  transform: translateY(-100%);
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  width: 100%;
  grid-template-areas: "banner player track-video toggle"
                        "banner text text pusto"

}

@media screen and (max-width: 1023px) {
  .media {
    left: 5px;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "player player track-video toggle"
                        "banner text text pusto"
  }
}

@media screen and (max-width: 767px) {
  .media {
    left: 5px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "player toggle "
                          "banner banner"
                          "track-video track-video"
                          "text pusto"
  }
}

.media__track-video {
  grid-area: track-video;
  display: flex;
  position: relative;
  left: 0;
  top: -36px;
}

@media screen and (max-width: 767px) {

  .media__track-video {
    margin: 30px auto 0;
    grid-area: track-video;
    display: flex;
    flex-direction: row;
  }
}
