.article__paragraph {
  margin: 44px 0 0 var(--left-indent);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}


@media screen and (max-width: 1024px) {
  .article__paragraph {
    margin: 40px 0 0 var(--left-indent);
  }
}


@media screen and (max-width: 768px) {
  .article__paragraph {
    font-size: 15px;
    margin: 41px 0 0 var(--left-indent);
  }
}


@media screen and (max-width: 400px) {
  .article__paragraph {
    font-size: 12px;
    line-height: 16px;
    margin: 30px 0 0 var(--left-indent);
  }
}
