.media__button-track {
  height: 40px;
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.21;
  padding: 0 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  white-space: nowrap;
  visibility: hidden;
  transition: .3s ease-in-out;
  transition-property: max-height, opacity;
}

.media__button-track:hover {
  opacity: .6;
  cursor: pointer;
}

.media__button-track:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .media__button-track {
    padding: 0 15px 0 20px;
    /*grid-column: 1/4;*/
    /*grid-row: 3;*/
    /*max-height: 0;*/
    height: 31px;
    width: 240px;
  }
}
