.form__input-text {
  position: relative;
  padding: 0 0 0 48px;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .form__input-text {
    font-size: 12px;
    line-height: 22px;
    padding: 0 0 0 41px;
  }
}

.form__input-text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  transition: .2s;
}
