.menu__resource-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.21;
  transition: opacity .5s;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 30px;
}

.menu__resource-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .menu__resource-link {
    font-size: 12px;
    line-height: 1.25;
    padding: 7px 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .25s linear;
  }
}

