body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #454845;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: #227979;
  margin: 0;
  padding: 0;
  position: relative;
}

.header__title {
  margin: 0 0 40px 0;
  padding: 0;
}

.media {
  border: 1px solid red;
  position: absolute;
  top: 60%;
  left: 0;
  /*transform: translateY(-100%);*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /*ширина контенера*/
  width: 80vw;
}


/*положение и размер полосы прокрутки*/
.rhap_main {
  border: 1px solid pink;
  /*ширина полосы прокрутки*/
  width: calc(80vw - 40px);
  margin-left: 40px;

}



.media__player {
  position: relative;
}

.media__current-track {
  position: absolute;
  bottom: 0;
  left: 70px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}

.media__playlist {
  margin-left: 50px;
  height: 80px;
  overflow: hidden;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}


.player {
}

/*положение таймера*/
.player__current-time{
  position: absolute;
  bottom: 16px;
  right:10px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}

/*положение кнопок*/

.rhap_play-pause-button {
  position: absolute;
  bottom: 12px;
  left: 10px;
  margin: 0;
  padding: 0;
  font-size: 1px;
}

.rhap_play-pause-button_pause {
}


.rhap_progress-section {
  display: unset;
  flex-grow: 100;
}


.rhap_progress-container {
  background: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.rhap_horizontal-reverse {
  flex-direction: unset;
}

/*толщина и отступы прогресс-бара*/
.rhap_progress-bar {
  margin: 25px 0 0 0;
  height: 3px;
}

.rhap_container {
  margin: 0;
  padding: 0;
  flex-direction: row;
  background: unset;
  box-shadow: unset;
  outline: unset;
  position: relative;
  line-height: 0;
}

.rhap_additional-controls {
  display: none;
}

.rhap_volume-controls {
  display: none;
}

.rhap_controls-section {
  margin: 0;
  padding: 0;
}

.rhap_horizontal-reverse .rhap_controls-section {
  margin: 0;
  width: 0;
}

.rhap_progress-container {

}


/*изначальный цвет прогресс даунлоадинга*/
.rhap_progress-bar-show-download {
  background-color: rgba(243, 243, 243, 0.3);
}

/*положение ползунка*/
.rhap_progress-filled {
  background-color: #fff;
  border-radius: 2px;
}

.rhap_progress-indicator {
  background: unset;
  box-shadow: unset;
  outline: unset;
  border: unset;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: unset;
  z-index: 3;
  width: 0;
  height: 0;
  margin: 0;
  background: unset;
  border-radius: unset;
  background: unset;
  box-shadow: unset;
  outline: unset;
  border: unset;
}
