@import url("./vendor/normalize.css");
@import url("./blocks/root/root.css");
@import url("./blocks/page/page.css");
@import url("./vendor/fonts/inter.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/menu/__resources/menu__resources.css");
@import url("./blocks/menu/__resource-link/menu__resource-link.css");
@import url("./blocks/menu/__resource-link/_visible/menu__resource-link_visible.css");
@import url("./blocks/menu/__resource/menu__resource.css");
@import url("./blocks/menu/__button/menu__button.css");
@import url("./blocks/menu/__close-button/menu__close-button.css");
@import url("./blocks/menu/__open-streamings/menu__open-streamings.css");
@import url("./blocks/menu/__button/_invisible/menu__button_invisible.css");
@import url("./blocks/banner/banner.css");
@import url("./blocks/banner/__title/banner__title.css");
@import url("./blocks/banner/__img/banner__img.css");
@import url("./blocks/media/media.css");
@import url("./blocks/media/__button-open/_active/media__button-open_active.css");
@import url("./blocks/media/__track/_type/media__track_type_text-song.css");
@import url("./blocks/main/main.css");
@import url("./blocks/section-title/section-title.css");
@import url("./blocks/section-subtitle/section-subtitle.css");
@import url("./blocks/article/article.css");
@import url("./blocks/article/__title/article__title.css");
@import url("./blocks/article/__paragraph/article__paragraph.css");
@import url("./blocks/article/__paragraph/_position/article__paragraph_position.css");
@import url("./blocks/article/__theses/article__theses.css");
@import url("./blocks/article/__thesis/article__thesis.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__author/footer__author.css");
@import url("./blocks/footer/__author-link/footer__author-link.css");
@import url("./blocks/form/form.css");
@import url("./blocks/form/__field-name/form__field-name.css");
@import url("./blocks/form/__field-lyrics/form__field-lyrics.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__input/_position/form__input_position_lyrics.css");
@import url("./blocks/form/__input/_position/form__input_position_mail.css");
@import url("./blocks/form/__input/_position/form__input_position_tel.css");
@import url("./blocks/form/__submit-button/form__submit-button.css");
@import url("./blocks/form/__input-text/form__input-text.css");
@import url("./blocks/form/__input-link/form__input-link.css");
@import url("./blocks/form/__field-accept/form__field-accept.css");


/*!!!!!!!!!!*/

.media__player3 {
  border: 1px solid orange;
width: 70%;

  /*margin-top: 50px;*/
}


.media2 {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  height: 45px;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /*ширина контенера*/
  width: 80vw;
}
/*положение и размер полосы прокрутки*/
.rhap_main {
  /*border: 1px solid pink;*/
  /*ширина полосы прокрутки*/
  width: calc(80vw - 40px);
  margin-left: 40px;
}

.media__player2 {
  position: relative;
}

.media__current-track {
  position: absolute;
  bottom: 0;
  left: 70px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}

.media__playlist2 {
  margin-left: 50px;
  height: 80px;
  overflow: hidden;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}


.player2 {
}

/*положение таймера*/
.player__current-time2{
  position: absolute;
  bottom: 16px;
  right:10px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color:#fff;
}

/*положение кнопок*/

.rhap_play-pause-button {
  position: absolute;
  bottom: 12px;
  left: 10px;
  margin: 0;
  padding: 0;
  font-size: 1px;
}

.rhap_play-pause-button_pause {
}


.rhap_progress-section {
  display: unset;
  flex-grow: 100;
}


.rhap_progress-container {
  background: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.rhap_horizontal-reverse {
  flex-direction: unset;
}

/*толщина и отступы прогресс-бара*/
.rhap_progress-bar {
  margin: 25px 0 0 0;
  height: 3px;
}

.rhap_container {
  margin: 0;
  padding: 0;
  flex-direction: row;
  background: unset;
  box-shadow: unset;
  outline: unset;
  position: relative;
  line-height: 0;
}

.rhap_additional-controls {
  display: none;
}

.rhap_volume-controls {
  display: none;
}

.rhap_controls-section {
  margin: 0;
  padding: 0;
}

.rhap_horizontal-reverse .rhap_controls-section {
  margin: 0;
  width: 0;
}

.rhap_progress-container {
}

/*изначальный цвет прогресс даунлоадинга*/
.rhap_progress-bar-show-download {
  background-color: rgba(243, 243, 243, 0.3);
}

/*положение ползунка*/
.rhap_progress-filled {
  background-color: #fff;
  border-radius: 2px;
}

.rhap_progress-indicator {
  background: unset;
  box-shadow: unset;
  outline: unset;
  border: unset;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: unset;
  z-index: 3;
  width: 0;
  height: 0;
  margin: 0;
  background: unset;
  border-radius: unset;
  background: unset;
  box-shadow: unset;
  outline: unset;
  border: unset;
}
