.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 15px 15px 0 20px;
  height: calc(100vh - 10px);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100vw - 29px);
    padding: 13px 13px 0 16px;
  }
}
