.form__input {
  position: relative;
  border: 0;
  width: 600px;
  min-height: 70px;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: inherit;
}

@media screen and (max-width: 768px) {
  .form__input {
    width: 84vw;
    margin: 9px 0 0 51px;
  }
}

@media screen and (max-width: 740px) {
  .form__input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .form__input {
    width: var(--smartphone-width-l);
  }
}

@media screen and (max-width: 400px) {
  .form__input {
    width: var(--smartphone-width-s);
    min-height: 53px;
  }
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
