.form__input-error_place_checkbox {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    left: 50px;
    top: 50%;
    transform: translateY(-75%);
    white-space: nowrap;
    color: black;
}
