.menu__button {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.25;
  background-color: transparent;
  border: none;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 30px;
}
